.choose-aside {
  padding: 0;
}

.choose-aside-items {
  border-bottom: 1px solid $black;
  padding: 5.56vw;
}

.choose-aside-items p {
  margin: 0;
}

#choose .grid-aside {
  border-bottom: none;
}
