#header {
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
}

#nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#nav :is(.nav-link-right, .nav-link-left) {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

#nav li {
  padding: 1.6666666666666667vw 1.25vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
}

#nav a {
  width: 100%;
  text-align: center;
  @include links;
}

#nav .white-space {
  width: 100%;
  background: $white;
}
